/* Add this at the top of your style.css file */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

/* General Styles */

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; /* Prevents horizontal scroll */
    display: flex; /* New: Sets up Flexbox in the body */
    flex-direction: column; /* New: Arranges flex items into a column */
    min-height: 100vh; /* New: Makes sure the body is at least the height of the viewport */
}

/* Navbar Styles */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.navbar-logo img {
    height: 1.5rem;
    width: 1.5rem;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-item {
    position: relative; /* For dropdown positioning */
}

.navbar-icon {
    display: none;
}

.nav-link {
    text-decoration: none;
    color: #333;
    padding: 0 1rem;
    transition: color 0.3s ease;
}

/* Dropdown Styling */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.navbar-item:hover .dropdown-content {
    display: block;
}

.nav-link:hover,
.navbar-item:hover > .nav-link {
    color: #0056b3;
    background-color: #f0f0f0;
}

/* Sidebar for Small Screens */
.sidebar {
    display: none; /* Hidden by default */
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 60px;
    z-index: 1000;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #0056b3;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Header with Full-Height Image */
.header-image {
    background-image: url('images/background1.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

#welcome-text {
    font-size: 3em;
    color: #fff;
    opacity: 0; /* Start fully transparent */
    white-space: nowrap; /* Ensure the text stays in a single line */
    animation: fadeInSlideUp 1s ease forwards;
    margin: 0; /* Remove any default margins */
    position: absolute;
    width: 100%; /* Ensure it spans the width of the container */
}

/* Keyframes for fadeInSlideUp animation */
@keyframes fadeInSlideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0; /* This ensures that the particles are behind the text */
}


/* Intro Content */

.mathematics-intro-container {
    padding: 20px;
    margin: 20px auto;
    max-width: 1250px; /* Adjust as per your layout */
    background-color: #ffffff; /* Light background for readability */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: for a subtle shadow */
}

.mathematics-intro-container h2 {
    color: #000000; /* Dark color for the heading */
    margin-bottom: 15px;
    text-align: center;
}

.mathematics-intro-container p {
    color: #000; /* Slightly lighter color for the text */
    line-height: 1.6; /* For better readability */
}

/* Main text */

.info-container {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 20px auto;
    max-width: 1000px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
}

/* styles.css */

.tab-container {
    flex-basis: 200px; /* Adjust width of the tab container */
    margin-right: 20px; /* /* Adjust width of the tab container */
}

.tab {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px; /* Slightly rounded corners for tabs */
    margin-bottom: 5px;
    background-color: #000000;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
    transition: background-color 0.2s;
}

.tab:hover {
    background-color: #e0e0e0; /* Hover color */
}

.content-container {
    flex-grow: 1; /* Take up remaining space */
    border: 1px solid #000000;
    padding: 10px;
}



/* Footer */

footer {
    background-color: #000000;
    color: #d1d1d1;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
}


footer p {
    margin: 0;
    line-height: 2.5rem;
}

/* Media Query for small screens */
@media screen and (max-width: 600px) {
    .navbar-icon {
        display: block;
    }

    .navbar-right {
        display: none;
    }

    .sidebar {
        display: block; /* Show sidebar on small screens */
    }
}
