/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* Light grey background */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header Styling */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #fff; /* White background for the header */
}

.logo-and-search {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 1.5rem; /* Adjust the height to match the POLYNATH text */
    width: 1.5rem; /* Keep the width same as height for a square logo */
}

.logo span {
    margin-left: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333; /* Dark grey color for the POLYNATH text */
}

/* Navigation Styling */
.navigation ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navigation li {
    padding: 0 1rem;
    position: relative; /* For dropdown positioning */
}

.navigation a {
    text-decoration: none;
    color: #333; /* Dark grey for text, ensures readability */
    transition: color 0.3s ease;
}

/* Dropdown Styling */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff; /* White background for dropdown */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nav-item:hover .dropdown-content {
    display: block;
}

/* Highlighting menu items on hover */
.navigation a:hover,
.nav-item:hover > a { /* Ensure direct child only */
    color: #0056b3; /* A shade of blue for highlighting items on hover */
    background-color: #f0f0f0; /* A very light grey background on hover for subtle effect */
}

/* Main content styling */
main {
    flex: 1;
    display: flex;
    flex-direction: column; /* Stacks children elements vertically */
    justify-content: center;
    align-items: center;
}

.typewriter-container {
    border-right: 2px solid;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* Adjust the timing (5s) to control the speed of the typing */
.typewriter-container h1 {
    animation: typing 5s steps(30, end), blink-caret 0.75s step-end infinite;
    font-size: 2em;
    margin: 0;
}

/* Creates the caret effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

/* Tab section styling */
.tab-section {
    display: flex;
    flex-direction: row; /* Aligns tabs and content side by side */
    margin-top: 20px; /* Space from the main content */
}

.tabs {
    display: flex;
    flex-direction: column;
    padding-right: 20px; /* Space between tabs and content */
}

.tab-header {
    background-color: #f0f0f0; /* Default background */
    margin-bottom: 10px; /* Space between tabs */
    padding: 10px;
    border-radius: 25px; /* Curved corners */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tab-header:hover {
    background-color: #007bff; /* Hover color */
    color: white;
}

.tab-header.active {
    background-color: #007bff; /* Active color */
    color: white;
}

.tab-content {
    border: 1px solid #ddd;
    border-radius: 15px; /* Curved corners for content box */
    padding: 20px;
    width: 70%; /* Adjust as needed */
    display: block;
}

/* Hide inactive tab content */
.tab-content:not(.active) {
    display: none;
}

/* Footer Styling */
footer {
    background-color: #303030; /* Dark grey background for footer */
    color: #d1d1d1; /* Light grey text color for footer */
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    flex-shrink: 0; /* Prevents the footer from shrinking */
}

footer p {
    margin: 0;
    line-height: 2.5rem;
}
